/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;


}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
#contact {
  float:left;
  width: 33.333%;
}

#shoearchive {
  float:left;
  height: 599px;
  margin-bottom: 25px;
  width: 30.333%

}

#summergrass {
  float:left;
  height: 599px;
  margin-right: 25px;
  width: 60.666%

}

#ladybug {
  float:left;
  margin-right: 25px;
  width: 31.555%;
}

#skaters {
  float:left;
  margin-right: 25px;
  width: 31.555%;
}

#heels {
  float:left;

  width: 31.555%

}
